<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="autenticacion">
    
    <select id="inicioSesionEscritorio" resultType="modelo.pojo.Empleado" parameterType="modelo.pojo.Empleado" >
        SELECT e.idEmpleado, e.persona, e.curp, e.username, e.correo, e.contrasenia, e.fotografia, e.rol, e.estatus, 
        CONCAT(p.nombrePersona, " ", p.apellidoPaterno) AS nombreEmpleado, p.telefono 
        FROM empleados e 
        INNER JOIN 
        personas p ON e.persona=p.idPersona 
        WHERE username=#{username} AND contrasenia=#{contrasenia}
    </select>
</mapper>
