<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="categoria">
    <select id="obtenerCategorias" resultType="modelo.pojo.Categoria">
        SELECT ca.idCategoria, ca.nombreCategoria, ca.descripcion, ca.estatus, es.nombreEstatus  
        FROM categorias ca 
        INNER JOIN 
        estatus es ON ca.estatus = es.idEstatus
    </select>
    
    <select id="obtenerCategoriaPorId" resultType="modelo.pojo.Categoria">
        SELECT ca.idCategoria, ca.nombreCategoria, ca.descripcion, ca.estatus, es.nombreEstatus 
        FROM categoria ca 
        INNER JOIN 
        estatus es ON ca.estatus = es.idEstatus
    </select>
    
    <insert id="registrarCategoria" parameterType="modelo.pojo.Categoria">
        INSERT INTO categorias(nombreCategoria, descripcion, estatus) 
        VALUES(#{nombreCategoria}, #{descripcion}, 1)
    </insert>
    
    <update id="editarCategoria" parameterType="modelo.pojo.Categoria">
        UPDATE categorias SET 
        nombreCategoria=#{nombreCategoria},
        descripcion=#{descripcion},
        estatus=#{estatus} 
        WHERE idCategoria = #{idCategoria}
    </update>
    
    <delete id="eliminarCategoria" parameterType="modelo.pojo.Categoria">
        DELETE FROM categorias WHERE idCategoria=#{idCategoria}
    </delete>
    
    <select id="productosCategoria" parameterType="modelo.pojo.Categoria" resultType="int">
        SELECT COUNT(*) FROM productos WHERE categoria = #{idCategoria}
    </select>
</mapper>