<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="empleado">
    
    <select id= "obtenerRoles" resultType="modelo.pojo.Rol">
        SELECT idRol, nombreRol 
        FROM roles
    </select>
    
    <select id="obtenerEstatus" resultType="modelo.pojo.Estatus">
        SELECT idEstatus, nombreEstatus 
        FROM estatus
    </select>
    
    <select id="obtenerEmpleados" resultType="modelo.pojo.Empleado"> 
        SELECT e.idEmpleado, e.persona, e.curp, e.username, e.correo, e.contrasenia, e.rol, e.estatus, 
        CONCAT(p.nombrePersona, " ", p.apellidoPaterno, " ", p.apellidoMaterno) AS nombreEmpleado, p.telefono, es.nombreEstatus, ro.nombreRol
        FROM empleados e 
        INNER JOIN 
        personas p ON e.persona=p.idPersona 
        INNER JOIN 
        estatus es ON es.idEstatus = e.estatus 
        INNER JOIN 
        roles ro ON ro.idRol = e.rol
    </select>
    
    <select id="obtenerEmpleadoPorId" resultType="modelo.pojo.DatosRegistroEmpleado" parameterType="int">
        SELECT p.nombrePersona AS 'persona.nombrePersona',
                       p.apellidoPaterno AS 'persona.apellidoPaterno',
                       p.apellidoMaterno AS 'persona.apellidoMaterno',
                       p.sexo AS 'persona.sexo',
                       p.telefono AS 'persona.telefono',
                        e.persona AS 'empleado.persona', 
                        e.curp AS 'empleado.curp', 
                        e.username AS 'empleado.username', 
                        e.correo AS 'empleado.correo', 
                        e.contrasenia AS 'empleado.contrasenia', 
                        e.rol AS 'empleado.rol', 
                        e.estatus AS 'empleado.estatus', 
                        e.fotografia AS 'empleado.fotografia'
        FROM empleados e 
        INNER JOIN 
        personas p ON e.persona=p.idPersona 
        WHERE e.idEmpleado = #{idEmpleado}
    </select>
    
    <insert id="registrarEmpleado" parameterType="modelo.pojo.DatosRegistroEmpleado" statementType="CALLABLE">
        {CALL registrarEmpleado(
        #{persona.nombrePersona, mode=IN, jdbcType=VARCHAR},
        #{persona.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
        #{persona.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
        #{persona.sexo, mode=IN, jdbcType=VARCHAR},
        #{persona.telefono, mode=IN, jdbcType=VARCHAR},
    
        #{empleado.curp, mode=IN, jdbcType=VARCHAR},
        #{empleado.username, mode=IN, jdbcType=VARCHAR},
        #{empleado.correo, mode=IN, jdbcType=VARCHAR},
        #{empleado.contrasenia, mode=IN, jdbcType=VARCHAR},
        #{empleado.fotografia, mode=IN, jdbcType=VARCHAR},
        #{empleado.rol, mode=IN, jdbcType=INTEGER},
    
        #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
        #{error, mode=INOUT, jdbcType=VARCHAR}
    )}
    </insert>
    
    <update id="modificarEmpleado" parameterType="modelo.pojo.DatosRegistroEmpleado" statementType="CALLABLE">
        {CALL modificarEmpleado(
            #{empleado.idEmpleado, mode=IN, jdbcType=INTEGER},
            #{empleado.correo, mode=IN, jdbcType=VARCHAR},
            #{empleado.contrasenia, mode=IN, jdbcType=VARCHAR},
            #{empleado.fotografia, mode=IN, jdbcType=VARCHAR},
            #{empleado.estatus, mode=IN, jdbcType=INTEGER},
            
            #{persona.idPersona, mode=IN, jdbcType=INTEGER},
            #{persona.nombrePersona, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoPaterno, mode=IN, jdbcType=VARCHAR},
            #{persona.apellidoMaterno, mode=IN, jdbcType=VARCHAR},
            #{persona.sexo, mode=IN, jdbcType=VARCHAR},
            #{persona.telefono, mode=IN, jdbcType=VARCHAR},
        
            #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
            #{error, mode=INOUT, jdbcType=VARCHAR}
        )}
    </update>
    
    <delete id="eliminarEmpleado" parameterType="modelo.pojo.Empleado">
        DELETE FROM empleados WHERE idEmpleado=#{idEmpleado} AND sesion = 0;
    </delete>
    
    
</mapper>
