<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="pedido">
    
    <select id= "obtenerPedidos" resultType="modelo.pojo.Pedido">
        SELECT * FROM pedidos
    </select>
    
    <select id="obtenerEstados" resultType="modelo.pojo.Estado">
        SELECT * FROM estado
    </select>
    
    <select id="obtenerPedidoPorId" parameterType="int" resultType="modelo.pojo.Pedido">
        SELECT * FROM pedidos WHERE idPedido = #{idPedido}
    </select>
    
    <insert id = "registrarPedido" parameterType="modelo.pojo.Pedido" >
        INSERT INTO pedidos (fechaPedido, fechaEntrega, nombreCliente, telefono, cantidad, abono, total, descripcion, fotografia, id_formaPago, id_estado) 
        VALUES (#{fechaPedido}, #{fechaEntrega}, #{nombreCliente}, #{telefono}, #{cantidad}, #{abono}, #{total}, #{descripcion}, #{fotografia}, #{id_formaPago}, #{id_estado}) 
    </insert>
    
    <insert id="registrarProductoEnPedido" parameterType="modelo.pojo.PedidoProducto">
        INSERT INTO pedido_producto (idProducto, idPedido) 
        VALUES(#{idProducto}, #{idPedido}) 
    </insert>
    
</mapper>
