<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="pedido">
    
    <select id= "obtenerPedidos" resultType="modelo.pojo.Pedido">
        SELECT numeroPedido, nombreRol 
        FROM pedidos
    </select>
    
    
    <select id="obtenerPedidoPorNumero" resultType="modelo.pojo.Pedido" parameterType="modelo.pojo.Pedido">
        SELECT numeroPedido, fecha, formaPago, descripcion FROM pedidos
        WHERE numeroPedido =#{numeroPedido}
    </select>
    
    <insert id = "registrarPedido" parameterType="modelo.pojo.DatosRegistroPedido" statementType="CALLABLE">
        
    </insert>

    <delete id="eliminarPedido">
        
    </delete>
    
    
    
</mapper>
