<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="proveedor">
    <select id="obtenerProveedores" resultType="modelo.pojo.Proveedor">
        SELECT p.idProveedor, p.nombreProveedor, p.telefono, p.empresa, p.estatus, e.nombreEstatus AS nombreEstatus 
        FROM proveedores p 
        INNER JOIN 
        estatus e ON p.estatus = e.idEstatus
    </select>
    
    <select id="obtenerProveedor" parameterType="int" resultType="modelo.pojo.Proveedor">
        SELECT * FROM proveedores WHERE idProveedor=#{idProveedor}
    </select>
    
    <insert id="registrarProveedor" parameterType="modelo.pojo.Proveedor">
        INSERT INTO proveedores(nombreProveedor, telefono, empresa, estatus) 
        VALUES(#{nombreProveedor}, #{telefono}, #{empresa}, 1)
    </insert>
    
    <update id="editarProveedor" parameterType="modelo.pojo.Proveedor">
        UPDATE proveedores SET 
        nombreProveedor=#{nombreProveedor},
        telefono=#{telefono},
        empresa=#{empresa},
        estatus=#{estatus}  
        WHERE idProveedor=#{idProveedor}
    </update>
    
    <delete id="eliminarProveedor" parameterType="modelo.pojo.Proveedor">
        DELETE FROM proveedores WHERE idProveedor=#{idProveedor}
    </delete>
</mapper>
